 <!-- Left Sidebar Start -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="~/img/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="img-circle img-thumbnail img-responsive">
                <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
            </div>
            <h5><a href="#">علی یدالهی</a> </h5>
            <ul class="list-inline">
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>

                <li>
                    <a href="#" class="text-custom">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">دسته بندی ها</li>
                <li>
                    <a asp-area="Admins" asp-controller="Dashboard" asp-action="Index" class="waves-effect active"><i class="zmdi zmdi-view-dashboard"></i> <span> داشبورد </span> </a>
                </li>
                <li>
                    <a asp-area="Admins" asp-controller="ManageUser" asp-action="Index" class="waves-effect"><i class="zmdi zmdi-accounts"></i> <span>مدیریت کاربران</span> </a>
                </li>
                <li>
                    <a asp-area="Admins" asp-controller="Article" asp-action="Index" class="waves-effect"><i class="zmdi zmdi-collection-text"></i> <span>مقاله ها</span> </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="waves-effect"><i class="zmdi zmdi-run"></i> <span>خروج</span> </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->